<header>
  <nav class="navbar navbar-default">
    <a class="navbar-brand" href="" *ngIf="!edit">Book Detail "{{book.name}}"</a>
    <a class="navbar-brand" href="" *ngIf="edit">Book Edit "{{book.name}}"</a>
  </nav>
</header>
<div class="container">
  <div class="row">
    <div *ngIf="!edit">
      <p>Book Name : {{book.name}}</p>
      <p>Book Author : {{book.author}}</p>
      <p>Number of Pages : {{book.numberOfPages}}</p>
      <p>Date of Publication : {{book.dateOfPublication}}</p>
    </div>

    <div *ngIf="edit">
      <form (ngSubmit)="onSubmit(bookForm)" #bookForm="ngForm">
        <div class="form-group">
          <label for="name">Book Name:</label>
          <input type="text" class="form-control" name="name" id="name" [(ngModel)]="name">
        </div>
        <div class="form-group">
          <label for="author">Book Author:</label>
          <input type="text" class="form-control" name="author" id="author" [(ngModel)]="author">
        </div>
        <div class="form-group">
          <label for="numberOfPages">Number of Pages:</label>
          <input type="text" class="form-control" name="numberOfPages" id="numberOfPages" [(ngModel)]="numberOfPages">
        </div>
        <div class="form-group">
          <label for="dateOfPublication">Date of Publication:</label>
          <input type="text" class="form-control" name="name" id="dateOfPublication" [(ngModel)]="dateOfPublication" name="dateOfPublication">
        </div>
        <button type="button" (click)="edit = !edit; onCancel(book.id)" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-default">Save</button>
      </form>
    </div>

    <button (click)="edit = !edit" *ngIf="!edit" class="btn btn-default">Edit</button>
  </div>
</div>
